:root {
  --main-color: #3a2f4a;
}

body {
  background-color: var(--main-color);
  color: white;
}
#map {
  height: 70%;
  /* width: 82%; */
  margin: auto;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-family: "Rozha One", serif;
}

h1 {
  text-align: center;
  /* width: 50%; */
  font-family: "Questrial", sans-serif;
  font-weight: lighter;
  margin: auto;
  font-size: 2.5rem;
  padding-top: 1em;
}

ul {
  list-style-type: none;
  font-family: "Questrial", sans-serif;
  font-weight: lighter;
}

#searchForm {
  text-align: center;
  padding: 2em;
}

.fas {
  margin: 1em;
  font-size: 1.5em;
}
input {
  border: 0;
  padding: 1em;
  letter-spacing: 4px;
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 50%;
  color: white;
  outline: none;
  text-align: center;
}

input::-webkit-input-placeholder {
  color: #c4c4c4;
  opacity: 0.3;
  letter-spacing: 4px;
  text-align: center;
}
input:-moz-placeholder {
  color: #c4c4c4;
  opacity: 0.3;
  letter-spacing: 4px;
  text-align: center;
}

button {
  background-color: var(--main-color);
  border: 1px solid white;
  color: white;
  font-family: "Questrial", sans-serif;
  padding: 1em;
  letter-spacing: 2px;
  margin-left: 2em;
}
#country-info {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3em;
  flex-direction: column-reverse;
}
#country-side {
  /* width: 50%; */
  margin-top: 3em;
  border: 1px solid white;
  color: white;
  padding: 2em;
  width: 50vw;
}

#country-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#country-main img {
  width: 100%;
}

#country-name {
  font-size: 3em;
  /* text-align: center; */
  padding: 0;
  margin: 0;
}

#error-svg {
  margin: 3em;
}

#credits {
  display: none;
}

@media (min-width: 800px) {
  #country-info {
    flex-direction: row;
  }

  #country-main {
    width: 40%;
  }

  #country-side {
    background-color: white;
    color: var(--main-color);
    width: 20vw;
    margin-top: 0;
  }

  #country-name {
    font-size: 5em;
  }
}
